{% extends 'base.html' %}

{% block navbar_content %}
    <li><a style="color: #eee;" href="/userhome">Welcome {{ request.user.username }}!</a></li>
    <li><a style="color: #eee;" href="/htmlviewer">HTML viewer</a></li>
    <li><a style="color: #eee;" href="/logout">Logout</a></li>
{% endblock %}


{% block content %}
<div class="container well">
   <h2>Code Summary</h2>
 <br>

<!--Output Table: Start-->
 <div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Output</th>
        <th>Compile Status</th>
        <th>Time (sec)</th>
        <th>Memory (KB)</th>
        <th>Code</th>
      </tr>

      <tr>
        <td>test</td>
        <td>Compile Status</td>
        <td>Time (sec)</td>
        <td>Memory (KB)</td>
        <td><button>View</button></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>


{% endblock %}
<!--Output Table: END -->